p{
    color: blueviolet;
    stroke: antiquewhite;
    border: 3px;
    padding-left: 20px;
}
.parent {
    border: 4xp solid red;
}
.child {
    width: 50%;
    padding: 20px;
    border: 4px solid green;
    margin: auto;
  }